<!DOCTYPE HTML>
<html>

<head>
  <title>MenatorrentDownloader</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" type="text/css" href="./css/style.css" />
  <!-- modernizr enables HTML5 elements and feature detects -->
  <script type="text/javascript" src="./js/jquery.min.js"></script>
  <script type="text/javascript" src="./js/modernizr-1.5.min.js"></script>
</head>

<body>
		<div id="oculto" style="display:none"></div>
		<div id="container">
			<div id="main">
				<header>
					<div id="logo">
						<h1>Mejor_Torrent_Downloader<a href="#"> Powered_By_Menacho</a>
						</h1>
					</div>

				</header>
				<div id="site_content">
					<div id="content">
						<br/>
						<h1>Selecciona una categoría para que chusmari lo incluya en plex</h1>
						<select id="scopeSelect" name="scope-list" style="width: 50%;">
							<option value="1" title="" selected="selected">LO QUIERO TODO</option>
							<option value="1" title="" selected="selected">PELICULAS HD</option>
							<option value="1" title="" selected="selected">PORNACO</option>
						</select>
						<br/>
						<h1>Selecciona año de publicación</h1>
						<select id="scopeSelect" name="scope-list" style="width: 50%;">
							<option value="1" title="" selected="selected">ME IMPORTA UN CARAJO JODER</option>
							<option value="1" title="" selected="selected">2000,ETC.</option>
						</select>
						<br/>
						<h1>Selecciona género</h1>
						<select id="scopeSelect" name="scope-list" style="width: 50%;">
							<option value="1" title="" selected="selected">TODOS</option>
							<option value="1" title="" selected="selected">Terror,etc.</option>
						</select>
						<br/><br/><br/>
						<button type="button">A TOPE CON LA COPE!</button>
					</div>
				</div>
				
			</div>
		</div>
		<!-- javascript at the bottom for fast page loading -->
		<script type="text/javascript" src="./js/jquery.min.js"/>
		<script type="text/javascript" src="./js/jquery.easing.min.js"/>
		<script type="text/javascript" src="./js/jquery.lavalamp.min.js"/>
		<script type="text/javascript">
    $(function() {
      $("#lava_menu").lavaLamp({
        fx: "backout",
        speed: 700
      });
    });
		</script>
	</body>
</html>